<section
  class=" d-flex justify-content-center flex-column align-items-center"
>
  <h2 class="text-white text-uppercase fw-bold mt-5">about component</h2>
  <div class="d-flex justify-content-center align-items-center my-3">
    <div class="brdr"></div>
    <i class="fa-solid fa-star text-white mx-3"></i>
    <div class="brdr"></div>
  </div>

  <div class="container px-5 mt-3">

    <div class="row">
        <div class="col-md-6">
          <div>
            <p class="text-white">
              Freelancer is a free bootstrap theme created by Route. The download
              includes the complete source files including HTML, CSS, and JavaScript
              as well as optional SASS stylesheets for easy customization.
            </p>
          </div>
        </div>
    
        <div class="col-md-6">
          <div>
            <p class="text-white">
              Freelancer is a free bootstrap theme created by Route. The download
              includes the complete source files including HTML, CSS, and JavaScript
              as well as optional SASS stylesheets for easy customization.
            </p>
          </div>
        </div>
      </div>
  </div>
 
</section>
