<section class="p-5 ">
    <h2 class="text-center mt-5 text-uppercase fw-bold pt-5">conatct section</h2>

    <div class="d-flex justify-content-center align-items-center mt-3 mb-5">
        <div class="brdr"></div>
        <i class="fa-solid fa-star  mx-3"></i>
        <div class="brdr"></div>
      </div>

  
      <div class="form-floating mb-3">
        <input type="email" class="form-control shadow-none" id="floatingInput" placeholder="userName">
        <label for="floatingInput">userName</label>
      </div> 
      
      <div class="form-floating mb-3">
        <input type="email" class="form-control shadow-none" id="floatingInput" placeholder="userAge">
        <label for="floatingInput">userAge</label>
      </div> 
      
      <div class="form-floating mb-3">
        <input type="email" class="form-control shadow-none" id="floatingInput" placeholder="userEmail">
        <label for="floatingInput">userEmail</label>
      </div> 
      
       
       
        <div class="form-floating">
          <input type="password" class="form-control shadow-none" id="floatingPassword" placeholder="userPassword">
          <label for="floatingPassword">userPassword</label>
        </div>
       <div class="d-flex justify-content-center align-items-center">
        <button class="px-3 py-2 rounded text-white fw-medium mt-4 mx-auto">Send Message</button>

       </div>
     
      
</section>