<header class="p-5 d-flex justify-content-center align-items-center">
    
    <div class="d-flex flex-column align-items-center justify-content-center mt-5">
        <img src="../../assets/avataaars.svg" class="my-5" alt="header Img">

       
            <h1 class="text-uppercase text-white fw-bold ">start Framework</h1>
            <div class="d-flex justify-content-center align-items-center my-3">
            <div class="brdr"></div>
            <i class="fa-solid fa-star text-white mx-3"></i>
            <div class="brdr"></div>
            </div>
            <p class="text-white">Graphic Artist - Web Designer - Illustrator</p>
   
    </div>
</header>

